<header id="home">
  <div class="overlay">
      <div class="container">
          <div style="line-height:15px;padding-top: 50px;">
              <h1><span>Amazing</span><br><br><br>Santorini 10 Days Tour</h1>
              <br><br>
              <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as</p>
              <button><a href="#" class="text-uppercase">book now</a></button>
          </div>
      </div>
  </div>
</header>

<div class="about-us" id="about">
  <div class="small-container">
      <h2 class="text-center">Winter <span>Holiday</span></h2>
      <p class="text-center">as opposed to using 'Content here, content here', making it look lik</p>
      <div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-6 col-12 text-center">
                      <div class="item">
                          <img src="../../assets/img2.jpg">
                          <h5 class="text-uppercase">Restaurants</h5>
                      </div>
                      <div class="item">
                          <img src="../../assets/img1.jpg">
                          <h5 class="text-uppercase">where to stay</h5>
                      </div>
                      <div class="item">
                          <img src="../../assets/img4.jpg">
                          <div>
                              <h5 class="text-uppercase">Sightseeing</h5>
                              <p>It is a long established fact that a reader will be distracted by the readable content of a page</p>
                          </div>
                      </div>
                      <div class="item">
                          <img src="../../assets/img3.jpg">
                          <h5 class="text-uppercase">shops and boutiques</h5>
                      </div>
                  </div>
                  <div class="col-lg-6 col-12 text-right">
                      <h4 class="text-uppercase">Engoy <span>holiday</span></h4>
                      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like</p>
                      <button class="text-center"><a href="#" class="text-capitalize">book now</a></button>
                  </div>
              </div>
          </div>
      </div>
      <div class="first"></div>
      <div class="second"></div>
  </div>
</div>

<div class="services" id="service">
  <div class="container">
      <h2 class="text-capitalize">Enjoy <span>Resort</span></h2>
      <p>It is a long established fact that a reader will be distracted by the readable content of a o</p>
  </div>
  <div class="small-container">
      <div id="slideToNext" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/pic4.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/pic3.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/pic2.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
  </div>
</div>

<div class="agency" id="agency">
  <div class="white-overlay">
      <div class="container">
          <div>
              <img src="../../assets/airplane.png">
              <div>
                  <img src="../../assets/pic1.png">
                  <h2 class="text-center text-uppercase">Enjoy <br> All <br> World</h2>
              </div>
              <img src="../../assets/airplane.png">
          </div>
          <p class="text-center">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look likeIt is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as o</p>
      </div>
  </div>
</div>

<div class="statistics text-capitalize text-center font-weight-bold">
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-12">
            <i class="fa fa-heart-o fa-3x" aria-hidden="true"></i>
              <h3>425</h3><br>
              <p>Tourists</p>
          </div>
          <div class="col-lg-3 col-md-6 col-12">
              <i class="fa fa-birthday-cake fa-3x" aria-hidden="true"></i>
              <h3>125</h3><br>
              <p>years</p>
          </div>
          <div class="col-lg-3 col-md-6 col-12">
              <i class="fa fa-home fa-3x"></i>
              <h3>325</h3><br>
              <p>cottages</p>
          </div>
          <div class="col-lg-3 col-md-6 col-12">
            <i class="fa fa-cutlery fa-3x" aria-hidden="true"></i>
              <h3>120</h3><br>
              <p>restaurants</p>
          </div>
      </div>
  </div>
</div>

<div class="contact" id="contact">
  <div class="violet-overlay">
      <div class="container">
          <h2 class="text-center">Get in touch</h2>
          <div class="contact-form">
              <form>
                  <input type="text" placeholder="Name">
                  <input type="email" placeholder="Email">
                  <input type="text" placeholder="Phone">
                  <textarea placeholder="Message"></textarea>
                  <input type="submit" value="SEND">
              </form>
          </div>
      </div>
  </div>
</div>

<footer>
  <div class="container">
      <ul>
          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
      </ul>
      <div class="row">
          <div class="col-lg-3 col-md-6 col-12">
              <div class="item">
                  <h4 class="text-uppercase">Contact us</h4>
                  <p class="address">
                      123 Second Street Fifth <br>
                      Avenue,<br>
                      Manhattan, New York<br>
                      +987 654 3210
                  </p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-12">
              <div class="item">
                  <h4 class="text-uppercase">additional links</h4>
                  <ul>
                      <li><a href="#">About us</a></li>
                      <li><a href="#">Terms and conditions</a></li>
                      <li><a href="#">Privacy policy</a></li>
                      <li><a href="#">News</a></li>
                      <li><a href="#">Contact us</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-12">
              <div class="item date">
                  <h4 class="text-uppercase">resent posts</h4>
                  <p><a href="#">01/03/2019</a></p>
                  <p><a href="#">08/05/2019</a></p>
                  <p><a href="#">01/03/2019</a></p>
                  <p><a href="#">08/05/2019</a></p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-12">
              <div class="item">
                  <h4 class="text-uppercase">newsletter</h4>
                  <form>
                      <input type="text" placeholder="Name">
                      <input type="email" placeholder="Email">
                      <input type="submit" value="Submit">
                  </form>
              </div>
          </div>
      </div>
  </div>
  <div class="copyright text-center">
      <p>Copyright 2019  Design by <a href="https://html.design">Dhanraj Kushwah</a></p>
  </div>
</footer>